.titre{
display:flex;
justify-content:center;
}

.au-dessus{
background-color: green;
height:80%;
}

.bot{
width:100%;
height:40vh;
background-color: lightblue;
}

.top{
width:100%;
height:40vh;
background-color: blue;

}

.top-left{/*Nous envoyer un mail*/
/*background-color: purple;*/
float:left;
width:47.5%;
}

.top-right{/* appeler*/
/*background-color: red;*/
float:right;
width:47.5%;
}

.bot-left{/*support chat*/
/*background-color: orange;*/
float:left;
width:47.5%;
}

.bot-right{/*whatsapp*/
/*background-color: yellow;*/
float:right;
width:47.5%;
}

.sous-titre{
display:flex;
justify-content:center;
}

.cadre{
display:flex;
justify-content:center;
border:2px solid black;
}
